[Unit]
Description=Send notifications to slack on boot and reboot

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/metadata
ExecStart=/usr/local/bin/slack-notifier --template startup
ExecStop=/usr/local/bin/slack-notifier --template shutdown

[Install]
WantedBy=multi-user.target
